body
{
    color: white;
    font-family: Helvetica;
    background: url('code.png');
}
header h1
{
    font-size: 42px;
    text-align: center;
    margin: 5% auto 5% auto;
}

div#center
{
    width: 70%;
    min-width: 500px;
    margin: 0 auto;
}
div#accordion
{
    float: left;
    background: rgba(30, 89, 166, 0.6);
    padding: 20px 20px;
    width: 600px;
    z-index: 1;
}

nav
{
    position: relative;
    float: left;
    padding: 0px;
    margin: 0;
    z-index: 2;
}
nav ul
{
    list-style-type: none;
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    padding: 0px;
    width: 200px;
}
nav ul li
{
    float: left;
    clear: both;
    padding: 10px 0px 10px 10px;
    width: 190px;
}
nav ul li.selected
{
    background-color: rgba(30, 89, 166, 0.6);
}
nav ul li:hover:not(.selected)
{
    background-color: rgb(115, 180, 30);
}
.hidden
{
    display: none;
}

div.example-box
{
    float: left;
    width: 200px;
    height: 200px;
    padding: 20px;
    background: gray;
    opacity: 0.9;
}

div.example-box a
{
    display: block;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 5px 0px;
}
div.example-box a:hover
{
    text-shadow: 0px 0px 5px white;
}
