body
{
    font-family: 'Oswald', sans-serif;
    background: url('img/bg-small.jpg');
    margin: 0px;
    padding: 0px 0px 0px 0px;
}

header
{
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    z-index: 100;
    box-shadow: 0px 0px 15px white;
}

header h1
{
    float: left;
    margin: 0px;
    padding: 0px;
    font-size: 40px;
    padding: 6px 20px;
}
nav ul
{
    float: right;
    list-style-type: none;
    margin: 6px 0px 0px 0px;
    padding: 0px;
}
nav li
{
    float: left;
    padding: 10px 25px;
    font-size: 24px;
}
nav li:hover
{
    text-shadow: 0px 0px 5px black;
}

section
{
    margin: 0px;
    padding: 0px;
    width: 100%;
}

section#dreams
{
    height: 500px;
    background: rgba(0, 0, 0, 0.0);
    padding: 100px 0px 0px 0px;
}
section#dreams h1
{
    font-size: 64px;
    width: 100%;
    text-align: center;
}

a
{
    text-decoration: none;
    color: inherit;
}
p
{
    width: 900px;
    margin: 0px auto;
    text-align: center;
    font-size: 24px;
    padding: 10px 0px 25px 0px;
}

section#code
{
    height: 220px;    
    background-color: gray;
    /*background-color: #bb5533;*/
}
section#code hgroup
{
    padding: 5px 0px;
    text-align: center;
}
section#code h1
{
    font-size: 64px;
    margin-bottom: 5px;
}

section#portfolio
{
    height: 441px;
    background-color: white;
    /*background-color: rgba(255,136, 85, 0.3);*/
    padding-top: 50px;
}
section#portfolio .examples
{
    height: 300px;
    width: 910px;
    margin: 0px auto;
}
section#portfolio .examples img
{
    height: 280px;
    width: 280px;
    padding: 10px;
}

section#want
{
    height: 220px;    
}
section#want hgroup
{
    padding: 5px 0px;
    text-align: center;
}
section#want h1
{
    font-size: 64px;
    margin-bottom: 5px;
}

section#teaching
{
    height: 350px;
    background-color: white;
    /*background-color: rgba(170, 153, 136, 0.5);*/
    padding: 100px 0px 0px 0px;
}
