<html>
    <head>
        <title>Lucas Kushner</title>
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">

        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
              rel="stylesheet">

        {% block style %}
        <style>
        .fa
        {
            font-size: 52px;
            margin-right: 25px;
        }
        .fa:hover
        {
            text-decoration: none;
        }
        .vertical-center
        {
            min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
            min-height: 100vh; /* These two lines are counted as one :-)       */

            display: flex;
            align-items: center;
        }
        </style>
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Lucas Kushner</a>
            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <div class="navbar-nav">
                    <a class="nav-item nav-link {% if page == 'index' %} active {% endif %}" href="/">Home</a>
                    <a class="nav-item nav-link {% if page == 'portfolio' %} active {% endif %}" href="/portfolio">Portfolio</a>
                    <a class="nav-item nav-link {% if page == 'resume' %} active {% endif %}" href="/resume">Resume</a>
                </div>
            </div>
        </nav>
        {% block content %}
        <div class="container">You should probably but something good here...</div>
        {% endblock %}
    </body>
</html>
