<html>
    <head>
        <title>Lucas Kushner</title>
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">

        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
              rel="stylesheet">

        {% block style %}
        <style>
        .fa
        {
            font-size: 52px;
            margin-right: 25px;
        }
        .fa:hover
        {
            text-decoration: none;
        }
        </style>
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand navbar-light bg-light">
            <a class="navbar-brand" href="/">Lucas Kushner</a>
            <div>
                <div class="navbar-nav">
                    <a class="nav-item nav-link {% if page == 'index' %} active {% endif %}" href="/">Home</a>
                    <a class="nav-item nav-link {% if page == 'projects' %} active {% endif %}" href="/projects">Projects</a>
                    <a class="nav-item nav-link {% if page == 'resume' %} active {% endif %}" href="/resume">Resume</a>
                </div>
            </div>
        </nav>
        {% block content %}
        <div class="container">You should probably but something good here...</div>
        {% endblock %}
    </body>
</html>
