{% extends "base.j2.html" %}

{% block style %}
{{ super() }}
<style>
p
{
    font-size: 24px;
    font-family: Monospace;
    margin-bottom: 50px;
}
span
{
    font-size: 24px;
    font-family: Monospace;
    display: block;
}
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="offset-1 col-sm-5 col-xs-10 vertical-center">
            <img src="static/monogram.png">
        </div>
        <div class="col-sm-5 col-xs-10 vertical-center">
            <div id="info">
                <p>
                I am a developer passionate about empowering individuals
                to innovate and create through well-designed and
                OpenSource software.
                </p>

                <p>
                I am a juggler and fire spinner who loves seeing the excitement of
                teaching and learning soemthing new together.
                </p>

                <div id="contact">
                <span>Call me!</span>
                <a href="https://github.com/lphk92"<i class="fa fa-github"></i></a>
                <a href="https://www.linkedin.com/in/lucaskushner"<i class="fa fa-linkedin"></i></a>
                <a href="mailto:lucas@kushner.dev"<i class="fa fa-envelope-o"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
